<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Rocket | {% block title %}{% endblock %}</title>

    {% stylesheets '@RocketCommonBundle/Resources/css/bootstrap/bootstrap.min.css' output='bundles/rocketcommon/css/bootstrap.css'%}
    <link rel="stylesheet" href="{{asset_url}}" type="text/css" media="all" />
    {% endstylesheets %}

    {% stylesheets '@RocketCommonBundle/Resources/css/default.css' output='bundles/rocketcommon/css/default.css' %}
    <link rel="stylesheet" href="{{asset_url}}" type="text/css" media="all" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{{asset('bundles/rocketcommon/css/css-ui-1.10.3/ui-lightness/jquery-ui-1.10.3.custom.css')}}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{asset('bundles/rocketcommon/css/bootstrap-multiselect.css')}}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{asset('bundles/rocketcommon/css/prettify.css')}}" type="text/css" media="all" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% if ((crudOptions is defined) and (crudOptions['hide']['menu'] == "true")) %}
        <style type="text/css">
            .container-fluid {margin-top: 20px;}
        </style>
    {% endif %}

    <style type="text/css">
        #form_filter .form-row a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
{{ block('menu') }}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="content-title">{{ block('title') }}</div>
        <div class="content">

            {% set error_message_block = block('error_message') %}
            {% if error_message_block is not empty %}
                <div class="alert alert-error">
                    {% block error_message %}{% endblock %}
                </div>
            {% endif %}

            {% set success_message_block = block('success_message') %}
            {% if success_message_block is not empty %}
                <div class="alert alert-success">
                    {% block success_message %}{% endblock %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript">
    var base_url = "{{ app.request.getBaseURL() }}/";
    var askPrinter = {{ askPrinter|default(0) }};
    var askAuxiliaryPrinter = {{ askAuxiliaryPrinter|default(0) }};
    var askedPrinter = '{{ askedPrinter|default('') }}';
    var transaction_type_id = '{{getTransactionTypeId()}}';
</script>

<script src="js/jquery.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>

<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/jquery-1.8.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap-multiselect.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/prettify.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/jquery-ui-1.10.2/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap/bootstrap-alert.js') }}"></script>
<script type="text/javascript" src="{{ asset("bundles/rocketcommon/js/bootstrap/bootstrap-collapse.js") }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap/bootstrap-dropdown.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap/bootstrap-transition.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap/bootstrap-modal.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap/bootstrap-typeahead.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap/bootstrap-tooltip.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/bootstrap/bootstrap-popover.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/rocketcommon/js/default.js') }}"></script>

<script type="text/javascript">

    $(function(){
        var ventureSelect = $("select[name*='\[venture\]']");
        if (!($(ventureSelect).val() >= 1)) {
            ventureSelect.each(function(){
                $(this).children().each(function(){
                    if ($(this).val() == '{{ getLoggedVentureId() }}') {
                        $(this).attr('selected', true);
                    }
                });
            });
        }

        var branchSelect = $("select[name*='\[branch\]']");
        var filteringBranch = new RegExp('form%5Bbranch%5D').test(location.search);

        if (!($(branchSelect).val() >= 1) && !filteringBranch) {
            branchSelect.each(function(){
                $(this).children().each(function(){
                    if ($(this).val() == '{{ getLoggedBranchId() }}') {
                        $(this).attr('selected', true);
                    }
                });
            });
        }

        var warehouseSelect = $("select[name*='\[warehouse\]']");
        if (!($(warehouseSelect).val() >= 1)) {
            warehouseSelect.each(function(){
                $(this).children().each(function(){
                    if ($(this).val() == '{{ getLoggedWarehouseId() }}') {
                        $(this).attr('selected', true);
                    }
                });
            });
        }

        askForPrinter();
        askForAuxiliaryPrinter();
    });

    $(":input").keydown(function(e){
        var keyCode = e.keyCode || e.which;

        if (keyCode == 13){
            var elementFocused = $(this).attr('id');

            if (typeof(orderFocusOnEnter) !== 'undefined') {
                var index = orderFocusOnEnter.indexOf(elementFocused);
                index++;
                if (typeof(orderFocusOnEnter[index]) !== 'undefined') {
                    $("#" + orderFocusOnEnter[index]).focus();
                }

                if (typeof(executeOnEnter) !== 'undefined') {
                    if (typeof(executeOnEnter[elementFocused]) !== 'undefined') {
                        executeOnEnter[elementFocused]();
                        $("#" + elementFocused).blur();
                    }
                }
            }
        }
    });
</script>

{% block javascripts %}{% endblock %}
</body>
</html>