{% extends '@Site/base.html.twig' %}
{% block title %}{{ product.name|e }}{% endblock %}

{% block body %}
	<section>
		<div class="container content">
			<div class="row">

				{{ render(controller('SiteBundle:Category:renderMenu')) }}

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{ asset('home/' ~ sku.images[0].image, 'site_img') }}" alt="" width="266"/>
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								  <!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										{% for skuImage in sku.images %}
											<a href="javascript:;">
                                                <img src="{{ asset('home/' ~ skuImage.image, 'site_img') }}" width="84" height="84">
                                            </a>
										{% endfor %}
									</div>
								</div>
				
								<!-- Controls -->
								<a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								</a>
								<a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
						
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h2>{{ product.name|e }}</h2>
								<p>SKU:{{ sku.sku }}</p>
								<img src="{{ asset('product-details/rating.png', 'site_img') }}" alt="" />
								<span>
									<span>$ {{ sku.price }}</span>
									<label>Quantity:</label>
									<input type="text" value="1" id="qty" maxlength="3"/>
									<button type="button" class="btn btn-fefault cart" onclick="buy();">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>

                                {% if product.skus|length > 1 %}
                                    <p><b>Options:</b></p>
                                    {% for optionSku in product.skus %}
                                        <a href="{{ path('_product', {'idProduct': product.id, 'name': product.name|cleanString, 'idSku': optionSku.id}) }}">
                                            <span {{ (sku.id == optionSku.id) ? "style='color:#fe980f'" : '' }}>{{ optionSku.option }}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}

								<p><b>Disponibilidade:</b> {{ (sku.stock <= 0) ? 'Indisponible' : 'In Stock' }}</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> {{ product.supplier }}</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Description</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details" >
								<div class="col-sm-12">
									<p style="padding: 10px">{{ product.description|nl2br }}</p>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->

					{{ render(controller('SiteBundle:Recommendation:getRecommendations')) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		function buy() {
			var qtde = $('#qty').val() ? $('#qty').val() : 1;
			window.location = "<?php echo $this->BaseUrl(); ?>/carrinho/adicionar/?sku=<?php echo $this->vitrine->getSKU(); ?>&quantidade="+qtde;
		}

		jQuery(function($) {
			$("#qty").bind("keyup blur focus", function(e) {
				e.preventDefault();
				var expre = /[^0-9]/g;

				if ($(this).val().match(expre))
				$(this).val($(this).val().replace(expre,''));
			});

		});
	</script>

{% endblock %}