{% block category %}
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Categories</h2>
            <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                {% for category in categories %}
                    {% if category.children|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#cat-{{ category.id }}">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        {{ category.name|e }}
                                    </a>
                                </h4>
                            </div>
                            <div id="cat-{{ category.id }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        {% for children in category.children  %}
                                            <li><a href="{{ path('_category', {'id': children.id, 'name': children.name|cleanString}) }}">{{ children.name|e }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="{{ path('_category', {'id': category.id, 'name': category.name|cleanString}) }}">{{ category.name|e }}</a>
                                </h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div><!--/category-products-->
        </div>
    </div>
{% endblock %}